*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: lavenderblush;
}

.heading{
  background-color: wheat;
}
span{
  background-color: wheat;
}

.box{
  border: 1.5px solid red;
  padding:50px;
  margin-top: 50px;
  width: 500px;
  height: 200px;
  margin-left: 500px;
  background-color: wheat;
  border-radius: 30%;
}
